div.gallery{
    /* margin-top: 20p;
    width: 150px;
    height: 150px;
    border: 1px solid gray;*/
    margin: 10px; 
    float: left;
   
}

/* div.gallery:hover{
    border-radius: 10px;
    } */
div.gallery img{
    width: 150px;
    height: 150px;
    opacity: 0.5;
    /* margin: auto; */
    transition: width 2s, height 2s, background 3s, opacity 2s, border-radius 2s;
}
div.gallery img:hover{
    width: 300px;
    height: 300px;
    border-radius: 300px;
    opacity: 1.0;
    border: 3px solid darkred;
}

div.gallery p{
    text-align: center;  
    padding: 15px;
    border-radius: 200px;
    transition: transform 3s, font-weight 2s;
}
div.gallery p:hover{
    color: #000;
    font-weight: inherit;
    font-size: 20px;
    font-stretch: condensed;
    transform: rotateY(360deg);
}